{% extends "base.html" %}
{% block content %}

<h2>Servicios</h2>

<form action="/agregar_servicio" method="POST">
    <input type="text" name="nombre" placeholder="Nombre" required><br><br>
    <input type="text" name="descripcion" placeholder="Descripción" required><br><br>
    <input type="number" name="precio" placeholder="Precio" required><br><br>
    <input type="text" name="duracion" placeholder="Duración" required><br><br>
    <button type="submit">Guardar</button>
</form>

<hr>

<table border="1">
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Descripción</th>
<th>Precio</th>
<th>Duración</th>
<th>Acciones</th>
</tr>

{% for s in servicios %}
<tr>
<td>{{ s[0] }}</td>
<td>{{ s[1] }}</td>
<td>{{ s[2] }}</td>
<td>{{ s[3] }}</td>
<td>{{ s[4] }}</td>
<td>
<a href="/eliminar_servicio/{{ s[0] }}">Eliminar</a>
</td>
</tr>
{% endfor %}

</table>

{% endblock %}